body {
  background-color: #100e1796;
  font-family: "Open Sans", sans-serif;
}

.container {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 150px;
  left: calc(50% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 350px;
  width: 300px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}
.perfil {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 17px;
  top: 80px;
}
#frame {
  border-radius: 25px;
  border: 2px solid #100e1796;
}

.linkedin {
  height: 70px;
  width: 70px;
  position: absolute;
  left: 50px;
  top: 250px;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.contato {
  padding-left: 40%;
}
