body {
  background-color: rgb(212, 192, 154);
  padding: 0;
  margin: 0;
}
.container {
  padding-top: 40px;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, [col-start] 1fr);
  grid-template-rows: repeat(6, [col-start] 1fr);
}
.item1 {
  grid-column: col-start / span 3;
}
.item2 {
  grid-column: col-start 6 / span 4;
  grid-row: 1 / 3;
}
.item3 {
  grid-column: col-start 2 / span 2;
  grid-row: 2;
}
.simplenavbar {
  grid-column: col-start 3 / 8;
  grid-row: 1;
  margin: 0;
  padding: 0;
}
#tituloprincipal {
  margin: 0;
  padding: 0;
  font-size: max(5vw, 10px);
  font-family: Arial, Helvetica, sans-serif;
}
.choice1 {
  font-family: Arial, Helvetica, sans-serif;
  grid-column: col-start 2 / span 6;
  grid-row: 3/6;
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  grid-template-rows: repeat(3, [col-start] 1fr);
  grid-column-gap: 8vw;
}

.pergunta_style {
  grid-column: col-start 2 / span 4;
  grid-row: 1/2;
  text-align: center;
  font-size: max(3vw, 10px);
}

.botao_style1,
.botao_style2,
.botao_style3 {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: transparent;
  z-index: 1;
}

.botao_style1 {
  grid-column: col-start 3 / span 2;
  grid-row: 2/3;
}
.botao_style2 {
  grid-column: col-start 5 / span 2;
  grid-row: 2/3;
  background-color: rgb(60, 122, 55);
}
.botao_style3 {
  grid-column: col-start 1 / span 2;
  grid-row: 2/3;
}
.homebutton {
  grid-column: col-start 1 / span 2;
  grid-row: 1;
}

.botao_style1 {
  font-size: 2.5vw;
  border: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.botao_style1:before {
  content: "";
  background: rgb(85, 52, 52);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 0%;
  transition: 0.2s ease-out;
  z-index: -1;
}
.botao_style1:hover:before {
  height: 100%;
}

.botao_style2 {
  font-size: 2.5vw;
  border: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.botao_style2:before {
  content: "";
  background: rgb(212, 192, 154);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.2s ease-out;
  z-index: -1;
}
.botao_style2:hover:before {
  width: 0%;
}
/*rgb(114, 114, 114)*/

.botao_style3 {
  font-size: 2.5vw;
  border: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.botao_style3:before {
  content: "";
  background: rgb(114, 114, 114);
  position: absolute;
  width: 0%;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.2s ease-out;
  z-index: -1;
}
.botao_style3:hover:before {
  width: 100%;
}
