body {
  background-color: rgb(93, 142, 129);
  padding: 0;
  margin: 0;
}
.simplenavbar {
  position: relative;
}

#tituloprincipal {
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 40px;
  left: 40%;
}
.container-botoes {
width: 100vw;
  display: flex;
flex-direction: row;
gap: 3vw;
justify-content: flex-end;
}

#cagado {
  margin-right: 50px;
}

.choice1 {
  position: absolute;
  margin-top: 20%;
  right: 34%;
}

#botao_castanho {
  background-color: rgb(109, 71, 71);
  border: 1px solid rgb(109, 71, 71);
  width: 15vw;
  height: 15vh;
}

#botao_verde {
  background-color: rgb(86, 126, 81);
  border: 1px solid rgb(86, 126, 81);
  width: 15vw;
  height: 15vh;
}
.botao_style {
  background-color: rgb(207, 207, 207);
  border: 1px solid rgb(255, 255, 255);~
  width: 15vw;
  height: 15vh;
  border-radius: 15% 5% 15% 5%;
}