body {
  background-color: rgb(93, 142, 129);
}
.simplenavbar {
  position: relative;
}
#tituloprincipal {
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 40px;
  left: 40%;
}
.choice{
display: inline-flex;
position: absolute;
top: 30%;
right: 38%;
}

#cagado{
margin-right: 50px;
}

.choice1{
position: absolute;
margin-top: 20%;
right: 34%;
}
.botao_style{
  background-color: aquamarine;
}