.item1 {
  grid-column: col-start / span 3;
}
.item2 {
  grid-column: col-start 6 / span 4;
  grid-row: 1 / 3;
}
.item3 {
  grid-column: col-start 2 / span 2;
  grid-row: 2;
}
.simplenavbar {
  grid-column: col-start 3 / 8;
  grid-row: 1;
  margin: 0;
  padding: 0;
}

.choice1 {
  font-family: Arial, Helvetica, sans-serif;
  grid-column: col-start 2 / span 6;
  grid-row: 3/6;
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  grid-template-rows: repeat(3, [col-start] 1fr);
  grid-column-gap: 8vw;
}

.pergunta_style {
  grid-column: col-start 2 / span 4;
  grid-row: 1/2;
  text-align: center;
  font-size: max(3vw, 10px);
}

.botao_style1,
.botao_style2,
.botao_style3 {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(82, 163, 131);
  z-index: 1;
  border: 3px dashed rgb(0, 0, 0);
  font-size: 2.5vw;
  cursor: pointer;
}
#textofinal {
  grid-column: col-start 1 / span 6;
  grid-row: 3;
  text-align: center;
  margin-top: 10vh;
  display: none;
}
.botao_style1 {
  grid-column: col-start 3 / span 2;
  grid-row: 2/3;
}
.botao_style2 {
  grid-column: col-start 5 / span 2;
  grid-row: 2/3;
}
.botao_style3 {
  grid-column: col-start 1 / span 2;
  grid-row: 2/3;
}
.homebutton {
  grid-column: col-start 1 / span 2;
  grid-row: 1;
}

.botao_style2 {
  font-size: 2.5vw;
}
.botao_style1:hover,
.botao_style2:hover,
.botao_style3:hover {
  color: rgb(255, 255, 255);
}
#botao_castanho {
  background-color: rgb(87, 53, 37);
}
#botao_verde {
  background-color: rgb(60, 122, 55);
}
#botao_cinzento {
  background-color: rgb(153, 153, 153);
}

.animal-escolhido {
  display: none;

  background-color: #426c54;
  text-align: center;
  padding: 5vw;
}

.animal-escolhido > img {
  height: 45vh;
  width: 350px;
}

@media screen and (max-width: 700px) {
  .animal-escolhido > img {
    height: 40vh;
    width: 300px;
  }
}

.again,
.botao_reset {
  border: 3px dashed rgb(0, 0, 0);
  font-size: 1.5vw;
  cursor: pointer;
  background-color: #3b8974;
  height: 8vh;
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
}

.botao_reset:active,
.botao_anterior:active {
  background-color: rgb(34, 109, 99);
}
.botao_reset:hover,
.botao_anterior:hover {
  color: rgb(15, 54, 54);
  text-decoration: underline;
}
.botao_anterior {
  border: 3px dashed rgb(0, 0, 0);
  font-size: 1.5vw;
  cursor: pointer;
  background-color: #3b8974;
  height: 8vh;
  width: fit-content;
  margin: 0;
  display: none;
}
.container_botao {
  margin-top: 14vh;
  grid-column: col-start 5 / span 2;
  grid-row: 3;
  text-align: center;
}
.container_botao_anterior {
  margin-top: 14vh;
  grid-column: col-start 1 / span 2;
  grid-row: 3;
  text-align: center;
}
.download {
  font-size: large;
  font-weight: bold;
}
.download_icons {
  display: inline-block;
  height: 6vh;
  cursor: pointer;
  width: fit-content;
}
.download_icons:hover {
}
.download_csv {
  background-image: url(resources/icons/csv.png);
}
.download_json {
  background-image: url(resources/icons/json.png);
}
.again:hover {
  text-decoration: underline 2px;
}

.sim{
  cursor: pointer;
  height: 5vh;
  min-width: 4vw;
  border: 1px dashed rgb(0, 0, 0);
  font-size: 12px;
  background-color: #0e881e;
  border-radius: 10px;
  text-align: center;
}

.nao{
  cursor: pointer;
  height: 5vh;
  min-width: 4vw;
  border: 1px dashed rgb(0, 0, 0);
  font-size: 12px;
  background-color: #c92222;
  border-radius: 10px;
}

.nao:hover,.sim:hover{
  text-decoration: underline;
}

.estatistica{
  text-align: left;
  font-size: large;
}
